{% extends "base.html" %}
{% block title %}
    Добавление категории
{% endblock %}
{% block content %}
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        <div class="form-group">
            <h1>Добавление категории</h1>
            <label>{{ form.title.label }}</label>
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    <span>{{ error }}</span>
                </div>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </form>
{% endblock %}