{% extends "base.html" %}
{% block title %}
    Новость: {{ news.title }}
{% endblock %}
{% block content %}
    <h1>{{ news.title }}</h1> <!-- Выводите здесь title -->
    {% if news.date %}
        <span>Дата создания: </span><span class="badge badge-primary">{{ news.date.strftime('%d.%m.%Y') }}</span>
    {% endif %}
    {% if news.category %}
        <span>Категория: <a href="{{ url_for('category', id=news.category.id) }}" class="badge badge-primary">{{ news.category.title }}</a></span>
    {% endif %}
    <hr>
    <p>{{ news.text }}</p> <!-- Выводите здесь text -->
{% endblock %}